

@import url('https://fonts.googleapis.com/css2?family=Crimson+Text:ital,wght@0,400;0,600;0,700;1,400;1,600;1,700&display=swap');

body{
    background-color: #779ecb;
}


.strong{
    color: #2b0db3;;
    text-align: center;
}

.titulo{
    text-align: center;
    color: #f0f0f0dc;
}
.link{
    display: flex;
    justify-content: center;
    gap: 16px;
    border: 1px solid #f0f0f0;
    width: 100px;
    border-radius: 18px;
    font-size: 16px;
    font-weight:650;
    padding: 7.1px 0;
    text-decoration: none;
    color: #F6F6F6;
    font-family: 'Montserrat', sans-serif;
    color:#000000 ;
   
   
    
        }

        .h3{
            
    color: #2b0db3;
        }

    .divv{
    
            display: flex;
            flex-direction: column;
            align-items: center;
    }

    .divvv{
align-items: center;
   display: flex;
   padding-top: 3%;


        }

    .img{
padding: 1%;
        padding-left: 33%;
            }

            .div{
                display: flex;
            }


            .h2{
                padding-left: 3%;
                color: #2b0db3;
            }

            .h3__esgrima{
                padding-left: 3%;
                display: flex;
              
                
            }
            
            .img__esgrima{
   padding-left: 70%;

}

.img__olimpiada{
    display: flex;
padding: 0% 0% 0% 10%;
}

    .nav{
   background-color: #f0f0f0;
   text-align: center;

    }